.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 12px;
  justify-content: center;
}

.state {
  text-align: center;
  color: white;
  font-weight: 700;
}

.stateError {
  text-align: center;
  color: #ffdddd;
  font-weight: 700;
}
